---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content | split:'<!--more-->' | first }} ..&nbsp;<a href="{{ post.url }}">Read More &nbsp;&rarr;</a>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Prev</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Prev</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Prev</span>
  {% endif %}
  <span class="paginagtion-page-num">
      Page&nbsp;{{paginator.page}}
  </span>
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Next</a>
  {% else %}
    <span class="pagination-item older">Next</span>
  {% endif %}
</div>