<div class="sidebar">
  <div class="container sidebar-sticky">
    <div align="center" class="sidebar-about">
      <img height="200" width="200" src="{{ site.images}}/pizza.png" />
      <h3>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h3>
      <p class="lead">{{ site.description }}<br/>
        <a style="color:#ffeb99" href="/about">About</a>
        <span>&bull;</span>
        <a style="color:#ffeb99" href="{{ site.github.repo }}">GitHub projects</a>
      </p>
    </div>
  </div>
  <div align="center" class="container sidebar-bottom">
    <ul class="social-list">
      <li>
        <a href="/"><i class="fas fa-envelope" aria-hidden="true"></i></a>
      </li>
      <li style="margin-left: 15px">
        <a href="/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
      </li>
      <li style="margin-left: 15px">
        <a href="/"><i class="fab fa-twitter" aria-hidden="true"></i></a>
      </li>  
    </ul>
    <p style="font-size:13px">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
