<div class="sidebar">
  <div class="container sidebar-sticky">
    <div align="center" class="sidebar-about">
      <h3>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <span><a href="/about">About</a></span>
      <span>&bull;</span>
      <span><a href="{{ site.github.repo }}">GitHub project</a></span>
    </div>

    <p align="center" style="font-size:13px">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
