<div class="sidebar">
  <div class="container sidebar-sticky">
    <div align="center" class="sidebar-about">
      <h3>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h3>
      <p class="lead">{{ site.description }}</p>
      <p class="lead">
        <a style="color:red" href="/about">About</a>
        <span>&bull;</span>
        <a style="color:blue" href="{{ site.github.repo }}">GitHub project</a>
      </p>
    </div>
  </div>
  <div align="center" class="sidebar-bottom">
      <p style="font-size:13px">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
</div>
